<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title></title>
</head>
<body>

  <div class="row">
    <div class="leftcolumn">
      {% for post in posts reversed %}
      <div class="card">
        <a style="text-decoration: none; color: black;" href="/post/{{post.id}}">
          <h2>{{ post.title }}</h2>
          <h5>{{ post.created_at }}</h5>
          <p>{{ post.body|truncatewords:20 }}</p>
        </a>
      </div>
      {% endfor %}
    </div>
  </div>
</body>
</html>

